@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #002b36, #001f2d);
  color: white;
}

.auth-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.auth-box {
  display: flex;
  width: 800px;
  height: 500px;
  background-color: #0c1a25;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.2);
}

.auth-left,
.auth-right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-right {
  background: linear-gradient(135deg, #00bcd4, #007b83);
  text-align: center;
  color: #fff;
}

.auth-title {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
}

.input-group {
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  color: #ccc;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #555;
  padding: 5px 0;
}

.input-wrapper input {
  flex: 1;
  background: transparent;
  border: none;
  color: white;
  padding: 8px;
  outline: none;
  font-size: 15px;
}

.icon {
  margin-right: 10px;
  color: #00bcd4;
}

.btn {
  width: 100%;
  background: linear-gradient(to right, #00bcd4, #009688);
  border: none;
  padding: 12px;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
}

.switch-text {
  margin-top: 15px;
  font-size: 14px;
  color: #aaa;
  text-align: center;
}

.switch-text a {
  color: #00bcd4;
  text-decoration: none;
}

.switch-text a:hover {
  text-decoration: underline;
}
